
logs
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/node_modules/
/dist/
/dist-ssr/
*.local

/playwright-report/
/test-results/
/playwright/.cache/

/bin/
/obj/

*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

.vs/
.idea/
.vscode/
*.suo
.ntvs
*.njsproj
*.sln
*.sw?
.DS_Store


/appsettings.Development.json

.dockerignore